html {
    background-color: #EDEDEA;
}

.l-border {
    background-color: #A2D7D8;
    position: relative;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.r-border {
    background-color: #A2D7D8;
    position: relative;
    position: fixed;
    top: 0;
    bottom: 0;
}

.h-bar {
    background-color: #A2D7D8;
    height: 3em;
}

.content {
    margin-left: 21%;
    margin-right: 1%;
}


