html, body {
  background-color: #A2D7D8;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

.btn-group {
  margin: -1px;
}

.btn-group-justified {
  width: unset;
}

.btn-group > .btn {
  border-radius: 0;
  background-color: rgba(237,237,234,0.5);
  border: 1px solid rgba(0,0,0,0.2);
  padding: 15px;
}

.panel-body {
  background-color: #EDEDEA;
}

.panel-heading {
  padding: 0;
  /*background-color: #EDEDEA;*/
  background-color: #fff;
}
