@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* base16 eighties colors */
@theme {
  --color-*: initial;
  --color-white-50: #ffffff;
  --color-white-100: #ffffff;
  --color-white-200: #ffffff;
  --color-white-300: #ffffff;
  --color-white-400: #ffffff;
  --color-white-500: #ffffff;
  --color-white-600: #cccccc;
  --color-white-700: #999999;
  --color-white-800: #666666;
  --color-white-900: #333333;
  --color-white-950: #1a1a1a;
  --color-offwhite-50: #fdfdfc;
  --color-offwhite-100: #fdfdfc;
  --color-offwhite-200: #f9f8f6;
  --color-offwhite-300: #f7f6f3;
  --color-offwhite-400: #f5f3f0;
  --color-offwhite-500: #f2f0eb;
  --color-offwhite-600: #cdc5b2;
  --color-offwhite-700: #a79977;
  --color-offwhite-800: #72674a;
  --color-offwhite-900: #3b3526;
  --color-offwhite-950: #1c1912;
  --color-black-50: #ebebeb;
  --color-black-100: #d6d6d6;
  --color-black-200: #ababab;
  --color-black-300: #828282;
  --color-black-400: #575757;
  --color-black-500: #2d2d2d;
  --color-black-600: #242424;
  --color-black-700: #1c1c1c;
  --color-black-800: #121212;
  --color-black-900: #0a0a0a;
  --color-black-950: #050505;
  --color-red-50: #fef1f1;
  --color-red-100: #fce3e4;
  --color-red-200: #f9c8c8;
  --color-red-300: #f6acad;
  --color-red-400: #f49092;
  --color-red-500: #f1777a;
  --color-red-600: #ea3437;
  --color-red-700: #c21417;
  --color-red-800: #810d0f;
  --color-red-900: #410708;
  --color-red-950: #200304;
  --color-blue-50: #f0f5fa;
  --color-blue-100: #e0ebf5;
  --color-blue-200: #c2d6eb;
  --color-blue-300: #a3c2e1;
  --color-blue-400: #84add6;
  --color-blue-500: #6599cc;
  --color-blue-600: #3d7ab8;
  --color-blue-700: #2e5c8a;
  --color-blue-800: #1e3d5c;
  --color-blue-900: #0f1f2e;
  --color-blue-950: #080f17;
  --color-green-50: #f5faf5;
  --color-green-100: #ebf5eb;
  --color-green-200: #d6ebd6;
  --color-green-300: #c2e1c2;
  --color-green-400: #aed6ad;
  --color-green-500: #99cc98;
  --color-green-600: #6ab569;
  --color-green-700: #488f47;
  --color-green-800: #30602f;
  --color-green-900: #183018;
  --color-green-950: #0c180c;
  --color-yellow-50: #fffaf0;
  --color-yellow-100: #fff5e0;
  --color-yellow-200: #ffebc2;
  --color-yellow-300: #ffe0a3;
  --color-yellow-400: #ffd685;
  --color-yellow-500: #ffcc66;
  --color-yellow-600: #ffb41f;
  --color-yellow-700: #d68f00;
  --color-yellow-800: #8f5f00;
  --color-yellow-900: #473000;
  --color-yellow-950: #241800;
  --color-purple-50: #faf5fa;
  --color-purple-100: #f5ebf5;
  --color-purple-200: #ebd6eb;
  --color-purple-300: #e0c2e0;
  --color-purple-400: #d6add6;
  --color-purple-500: #cc99cc;
  --color-purple-600: #b469b4;
  --color-purple-700: #8f478f;
  --color-purple-800: #5f305f;
  --color-purple-900: #301830;
  --color-purple-950: #180c18;
}
